.clearHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Products{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.product{
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.product-img{
    max-width: 20%;
    margin: auto;
}
.product-img img{
    max-width: 100%;
}